.App {
  text-align: center;
  color: white;
}

body {
  /* background: url("./images/layered-waves-haikei\ \(1\).svg"); */
  background: center/cover url("./images/space_mobile.jpg");
  /* overflow: hidden; */
  background-attachment: fixed;
}

.col1,
.col2 {
  width: 45%;
}

.col1 {
  position: fixed;
  left: 3rem;
  top: 4rem;
}

.col2 {
  margin-left: 50%;
  overflow: auto;
  margin-top: 4rem;
}

@media (max-width: 992px) {
  .col1,
  .col2 {
    width: 90%;
    position: inherit;
    margin: auto;
  }
}

@media (max-width: 878px) {
  body {
    /* background: url("./images/layered-waves-haikei\ \(4\).svg"); */
    background: center/cover url("./images/space_mobile.jpg");
    background-color: #222f35;
    background-attachment: fixed;
  }
}
