@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
  background: center/cover url("./images/tttwinkle.svg");
  background-color: rgb(29, 29, 29);
  background-attachment: fixed;


}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #085b69;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(46, 46, 46);
}
